@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
 font-family: "preconnect", arial, helvetica;
}

body {
  margin: 0;
  background-color: #f5f5f5;
}

.container {
  margin: 0 auto;
}


header {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding-inline: 50px;
  height: 140px;
  background-color: #eff0e2;

  img {
    width: 140px;
    height: 140px;
  }

  nav ul {
    list-style: none;
    padding: 0;

    li {
      display: inline;
      margin-right: 20px;
      
      a {
        text-decoration: none;
        color: #896a49;
        font-size: 1.7rem;
      }
    }
  }
}

#tabs {
  margin-top: 20px;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

section {
  padding: 50px 0;
}

section h2 {
  color: #4d4d4d;
}

section p {
  color: #666;
}

#contact {
  background-color: #e8f4e5;
}

#contact .container {
  text-align: center;
}

#showFormBtn {
  background-color: #4d4d4d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#showFormBtn:hover {
  background-color: #333;
}

#customerForm {
  margin-top: 20px;
}

#customerForm label {
  display: block;
  margin-bottom: 5px;
}

#customerForm input[type="text"],
#customerForm input[type="email"],
#customerForm input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#customerForm input[type="submit"] {
  background-color: #4d4d4d;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#customerForm input[type="submit"]:hover {
  background-color: #333;
}

footer {
  background-color: #eff0e2;
  color: #896a49;
  padding: 20px 0;
  text-align: center;
}

.project-image1 {
  width: 410px; /* largura desejada */
  height: auto; /* altura automática para manter a proporção */
}
.project-image2 {
  width: 350px; /* largura desejada */
  height: auto; /* altura automática para manter a proporção */
}
.project-image3 {
  width: 410px; /* largura desejada */
  height: auto; /* altura automática para manter a proporção */
}
.project-image4 {
  width: 410px; /* largura desejada */
  height: auto; /* altura automática para manter a proporção */
}
.project-image5 {
  width: 410px; /* largura desejada */
  height: auto; /* altura automática para manter a proporção */
}
.project-image6 {
  width: 410px; /* largura desejada */
  height: auto; /* altura automática para manter a proporção */
}
.sobre-nos-img{
  width: 410px;
  height: auto;
}

#contactForm {
  display: none;
}