/* About page styling */

/* Img sizing */
.sobre-nos-img {
  width: 410px;
  height: auto;
}

p {
  /* Text */
  text-indent: 5rem;
}

section {
  /* Spacing */
  margin-block: 5rem;
}
section:first-of-type {
  /* Spacing */
  margin-top: 3rem;
}
section:last-of-type {
  /* Spacing */
  margin-bottom: 3rem;
}

.img-wrapper {
  /* Flex */
  display: flex;
  justify-content: center;

  /* Spacing */
  margin-top: 3rem;
}
